
  <!-- Intro Section-->
  <section class="jumbotron text-center m-0">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      <p>
        <a [routerLink]="['/about']" class="btn btn-primary my-2">Read More</a>
      </p>
    </div>
  </section>
  <section>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="text-center">
          <h2>Last Posts</h2>
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
        </div>        
        <div class="row" *ngIf="posts.length > 0">
          <div class="col-md-4" *ngFor="let post of posts | slice:0:6">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" [src]="post.image" [alt]="post.title" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">{{ post.title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/post/', post.slug]" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                  <small class="text-muted">{{ post.created_at | date: 'dd, MMM yyyy' }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>