
  <!-- Intro Section-->
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
  <!-- Integrations Section-->
  <section>
    <div class="container">
      <div class="text-center">
        <h2>Integrations</h2>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
      </div>
      <div class="integrations mt-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end"><img src="../../../../assets/img/monitor.svg" alt="..." class="img-fluid"></div>
              <h3 class="h4">Web desgin</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end"><img src="../../../../assets/img/target.svg" alt="..." class="img-fluid"></div>
              <h3 class="h4">Beginner Friendly</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end"><img src="../../../../assets/img/chat.svg" alt="..." class="img-fluid"></div>
              <h3 class="h4">SEO and SEM</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end"><img src="../../../../assets/img/idea.svg" alt="..." class="img-fluid"></div>
              <h3 class="h4">Best Practice</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end"><img src="../../../../assets/img/coffee-cup.svg" alt="..." class="img-fluid"></div>
              <h3 class="h4">Open Source</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end"><img src="../../../../assets/img/pen.svg" alt="..." class="img-fluid"></div>
              <h3 class="h4">Quality Code</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CLients Section-->
  <section class="bg-gray">
    <div class="container">
      <div class="text-center">
        <h2>Technologies Used</h2>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt..</p>
          </div>
        </div>
      </div>
      <div class="clients mt-5">
        <div class="row text-center">
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/python.svg" alt="" class="client-image img-fluid"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/postgresql.svg" alt="" class="client-image img-fluid"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/nodejs.svg" alt="" class="client-image img-fluid"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/django.svg" alt="" class="client-image img-fluid"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/angular.svg" alt="" class="client-image img-fluid"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/docker.svg" alt="" class="client-image img-fluid"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- How it works section-->
  <section id="about">
    <div class="container">
      <div class="text-center">
        <h2>About This Project</h2>
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <p class="lead text-muted mt-2">Simple Blog is an open-source project that demonstrates how to use of several popular web technologies.</p>
              <p class="lead text-muted mt-2">I have been using this website to document and share my progress in three areas of software development: frontend engineering, backend engineering and DevOps. Although there are a lot of guides on the technologies I use here, but there are fewer guides for how to use those technologies together.</p>
              <p class="lead text-muted mt-2">For a deep description of this project, see the documentation:</p>
          </div>
        </div><a href="#" class="btn btn-primary mt-4">Get Started</a>
      </div>
    </div>
  </section>

  <section>
    <div class="album py-5 bg-light">
      <div class="container">
        <h2>Latest posts</h2>
        <div class="row" *ngIf="posts.length > 0">
          <div class="col-md-4" *ngFor="let post of posts | slice:0:6">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" [src]="post.image" [alt]="post.title" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">{{ post.title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a [routerLink]="['/post/', post.slug]" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                  <small class="text-muted">{{ post.created_at | date: 'dd, MMM yyyy' }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>