<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">SIMPLE BLOG</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['about']">About</a></li>
        <li><a [routerLink]="['docs']">docs</a></li>
        <li *ngIf="!userIsAuthenticated"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="userIsAuthenticated">
          <div id="main-dropdown" class="dropdown" *ngIf="profile != null" tabindex="0">
            <img class="dropbtn" [alt]="profile.name" [src]="profile.avatar" (click)="dropDown()"/>
            <div id="myDropdown" class="dropdown-content">
            <a [routerLink]="['profile']">Porfile</a>
            <a>Favorite</a>
            <a>Settings</a>
            <a class="dropdown-content-divider" [routerLink]="['dashboard']">Dashboard</a>
            <a [routerLink]="['create']">New Blog</a>
            <a class="dropdown-content-divider" (click)="logout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
