<section>
  <form class="form-signin text-center" (submit)="onLogin(postForm)" #postForm="ngForm">
    <img class="mb-4" src="../../../../assets/img/bootstrap-solid.svg" alt="" width="72" height="72">
    <app-alert></app-alert>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="Email" class="sr-only">Email address</label>
    <input type="email" name="email" class="form-control" placeholder="Email address" #email="ngModel" required email ngModel autofocus [ngClass]="{ 'is-invalid': isSubmited && email.invalid }">
    <label for="Password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" #password="ngModel" required password ngModel [ngClass]="{ 'is-invalid': isSubmited && password.invalid }">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="isLoading">
      <div *ngIf="isLoading; else text" class="spinner-grow text-light" role="status"></div>
      <ng-template #text>Sign in</ng-template>
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
  </form>
</section>
<div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 mx-auto">
          <fieldset>
              <legend class="h3 mb-3">LOGIN AS A DEMO USER</legend>
              <div class="form-group">
                  <label for="EasyLogIn">An easy way to login without register</label>
                  <div class="el-card" *ngFor="let user of default_users">
                      <div class="el-card-body">
                        <img [src]="user.avatar" [alt]="user.name">
                        <button type="button" class="float-right el-button mt-1" (click)="onLoginWithDemoUser(user.email)">Log in as {{ user.name }}</button>
                      </div>
                  </div>
              </div>
          </fieldset>        
      </div>
    </div>
  </div>
</div>
