<div class="el-dialog-wrapper">
    <div role="dialog" aria-modal="true" aria-label="New Post" class="el-dialog">
        <div class="row mt">
            <div class="col-lg-6 col-lg-offset-3 centered">
                <h3>NEW POST</h3>
            </div>
            <button type="button" aria-label="Close" class="el-dialog-headerbtn">close</button>
        </div>
        <div class="card-body pt-0">
            <form #postForm="ngForm">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="title" placeholder="Title" ngModel reauired>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control" name="category" ngModel reauired>
                        <option disabled value>Category</option>
                        <option *ngFor="let category of categories" [ngValue]="category.name">{{ category.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary mr-2" id="avatar" (click)="imageInput.click()">Chose Image</button>
                    <ng-container *ngIf="selectedFile; then fileChosen; else fileNoChosen"></ng-container>
                    <ng-template #fileChosen>{{ selectedFile.name }}</ng-template>
                    <ng-template #fileNoChosen>No Image chosen</ng-template>
                    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" [hidden]="true" name="image" />
                </div>
                <div class="form-group" *ngIf="selectedFile">
                    <img class="image-preview" [src]="selectedFile.src" [alt]="selectedFile.name">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="content" placeholder="Content" ngModel required></textarea>
                </div>
                <div class="form-group mb-0">
                    <div class="form-control" (click)="focusTagInput()">
                        <span class="border-0 btn-primary p-1 mx-1" *ngFor="let tag of newTags">
                            {{ tag.name }} <button type="button" class="border-0 btn-primary p-0" (click)="removeTag(tag)">×</button>
                        </span>
                        <input class="border-0" placeholder="Tags" #tagInput required type="text" (keyup)="onKeyUp($event)">
                    </div>
                </div>
                <div class="border p-2" *ngIf="filterTag">
                    <button *ngFor="let tag of tags | filter: filterTag" class="border-0 btn-primary p-1 mx-1" type="button" (click)="addTag(tag)">{{ tag.name }}</button>
                </div>
                <div class="py-3">
                    <button type="submit" class="btn btn-primary" (click)="onAddPost(postForm)">Creat</button>
                </div>
            </form>
        </div>
    </div>
</div>