.el-input-tag {
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 35px;
    outline: none;
    padding: 0 5px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
  }
  
  .tag-item {
   border-radius: 3px;
   font-size: 14px;
   background: #eeeeee;
   padding: 6px;
   margin: 0 6px;
  }
  
  .tag-item:not(:first-child) {
    margin-left: 5px;
  }
  
  .el-input-tag input {
    margin: 0;
    padding-left: 5px;
    border: none;
    outline: none;
  }
  
  .remove-tag {
    padding: 0 5px;
    cursor: pointer;
  }

  .image-preview {
      width: 250px;
  }