<div class="el-dialog-wrapper">
    <div role="dialog" aria-modal="true" aria-label="New Post" class="el-dialog">
        <div class="row mt">
            <div class="col-lg-6 col-lg-offset-3 centered">
                <h3>NEW POST</h3>
            </div>
            <button type="button" aria-label="Close" class="el-dialog-headerbtn">close</button>
        </div>
        <div class="card-body pt-0">
            <form #postForm="ngForm">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="title" placeholder="Title" ngModel reauired>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control" name="category" ngModel reauired>
                        <option disabled value>Category</option>
                        <option *ngFor="let category of categories" [ngValue]="category.name">{{ category.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <app-image-snippet (imageSrc)="loadImage($event)"></app-image-snippet>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="content" placeholder="Content" ngModel required></textarea>
                </div>
                <div class="form-group">
                    <app-tags-input (currentTags)="loadTags($event)"></app-tags-input>
                </div>
                <div class="py-3">
                    <button type="submit" class="btn btn-primary" (click)="onAddPost(postForm)">Creat</button>
                </div>
            </form>
        </div>
    </div>
</div>