p {
    margin: 0 0 9px;
    font-size: 13px;
    line-height: 18px;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 17px;
  color: #000000;
  opacity: 0.2;
  background-color: transparent;
  border: 0;
  outline: none;
}
.close:hover {
  color: #000000;
  opacity: 0.4;
  outline: none;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  right: -25px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}