<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">User Profile</h1>
</div>
<div class="col-xl-6 col-lg-7 col-md-12 my-4">
  <div class="profile-header" *ngIf="userProfile">
    <div class="d-flex">
      <div class="">
        <div class="profile-image float-md-right"> <img [src]="userProfile.avatar" alt=""> </div>
      </div>
      <div class="px-4">
        <h4 class="m-t-0 m-b-0"><strong>{{ userProfile.name | titlecase}}</strong></h4>
        <span>{{ currentRole }}</span><br>
        <span>{{ userProfile.email }}</span>
        <p>795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
        </div>
      </div>
  </div>
</div>
<div class="">
    <h1 class="h2">About Roles</h1>
    <ul class="">
      <li class=""><b class="">Super Users</b> have full permissions</li>
      <li class=""><b class="">Staff Users</b> can access the admin interfaces and can be granted specific per model permissions</li>
      <li class=""><b class="">Active Users</b> active users can authenticate, but do not have access to the Django Admin interface</li>
    </ul>
</div>
