/* Blog Date*/
.bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
.ba {
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 10px;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
.bt {
	font-size: 12px;
}