<section class="bg-light" *ngIf="post">
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-12">
                <!-- Title -->
                <h1 class="mt-4">{{ post.title | titlecase }}</h1>
                <!-- Author -->
                <p class="lead"> by <a href="#">{{ post.created_by | titlecase }}</a></p>
                <hr>
                <!-- Date/Time -->
                <p>Posted on {{ post.created_at | date : 'MMMM dd, yyyy' }}</p>
                <hr>
                <!-- Preview Image -->
                <div class="text-center">
                    <img class="img-fluid rounded" [src]="post.image" [alt]="post.title">
                </div>
                <hr>
                <!-- Post Content -->
                <p>{{ post.content }}</p>
                <hr>
                <p>TAGS: <span *ngFor="let tag of post.tags"><a href="#" [rel]="tag">{{ tag }}</a>, </span></p>
            </div>
        </div>
    </div>
</section>