<!-- navbar-->
<header id="header" class="shadow-sm">
  <div class="container">
    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light">
        <a [routerLink]="['']" class="scrollto">
          <span>Simple Blog</span>
        </a>
      </h1>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/docs']">docs</a></li>
      </ul>
    </nav>
  </div>
</header>