<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>CREATE NEW POST</h3>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="login-form" (submit)="onAddPost(postForm)" #postForm="ngForm">
        <div class="form-group">
          <input class="el-input" type="text" name="title" placeholder="Title" ngModel reauired/>
        </div>
        <div class="form-group">
          <select class="el-input el-select" name="category" ngModel>
            <option disabled selected value>Category</option>
            <option value="1">Test</option>
          </select>
        </div>
        <div class="form-group">
          <button class="el-button" id="avatar" (click)="imageInput.click()">Chose Image</button>	&nbsp;&nbsp;
          <ng-container *ngIf="selectedFile; then fileChosen; else fileNoChosen"></ng-container>
            <ng-template #fileChosen>{{ selectedFile.name }}</ng-template>
            <ng-template #fileNoChosen>No Image chosen</ng-template>
          <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" [hidden]="true"/>
        </div>
        <div class="form-group" *ngIf="selectedFile">
          <img class="el-image-preview" [src]="selectedFile.src" [alt]="selectedFile.name">
        </div>
        <div class="form-group">
          <textarea rows=15 class="el-input el-textarea" name="content" placeholder="Content" ngModel required></textarea>
        </div>
        <div class="form-group">
          <input class="el-input" type="text" name="tags" placeholder="Tags" ngModel/>
        </div>
        <button type="submit" class="action-button">CREATE</button>
      </form>
    </div>
  </div>
</div>
