<nav class="navbar navbar-dark fixed-top bg-dark p-0 shadow-sm">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['/dashboard']">Simple Blog</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button class="nav-link border-0 bg-dark px-2" (click)="logout()">Sign out</button>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngIf="dashboardMenu">
          <li class="nav-item" *ngFor="let menu of dashboardMenu">
            <a class="nav-link" [routerLink]="[menu.action]" [ngClass]="{'active': menu.action === currentPath}">
              {{ menu.name }}
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>