
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading h2">About This Project</h1>
      <p class="lead text-muted mt-2">Simple Blog is an open-source project that demonstrates how to use of several popular web technologies.</p>
      <p class="lead text-muted mt-2">I have been using this website to document and share my progress in three areas of software development: frontend engineering, backend engineering and DevOps. Although there are a lot of guides on the technologies I use here, but there are fewer guides for how to use those technologies together.</p>
      <p class="lead text-muted mt-2">For a deep description of this project, see the documentation</p>
      <p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </p>
    </div>
</section>
  <!-- CLients Section-->
  <section class="py-5">
    <div class="container">
      <div class="text-center">
        <h2>Technologies Used</h2>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt..</p>
          </div>
        </div>
      </div>
      <div class="clients mt-5">
        <div class="row text-center">
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/python.svg" alt="" class="client-image img-fluid p-2"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/postgresql.svg" alt="" class="client-image img-fluid p-2"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/nodejs.svg" alt="" class="client-image img-fluid p-2"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/django.svg" alt="" class="client-image img-fluid p-2"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/angular.svg" alt="" class="client-image img-fluid p-2"></div>
          <div class="col-lg-2"><img src="../../../../assets/img/technologies/docker.svg" alt="" class="client-image img-fluid p-2"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Integrations Section-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="text-center">
        <h2>Integrations</h2>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
      </div>
      <div class="integrations mt-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="box text-center">
              <img src="../../../../assets/img/monitor.svg" alt="..." class="img-fluid p-2">
              <h3 class="h4">Web desgin</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <img src="../../../../assets/img/target.svg" alt="..." class="img-fluid p-2">
              <h3 class="h4">Beginner Friendly</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <img src="../../../../assets/img/chat.svg" alt="..." class="img-fluid p-2">
              <h3 class="h4">SEO and SEM</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <img src="../../../../assets/img/idea.svg" alt="..." class="img-fluid p-2">
              <h3 class="h4">Best Practice</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <img src="../../../../assets/img/coffee-cup.svg" alt="..." class="img-fluid p-2">
              <h3 class="h4">Open Source</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="box text-center">
              <img src="../../../../assets/img/pen.svg" alt="..." class="img-fluid p-2">
              <h3 class="h4">Quality Code</h3>
              <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>