<div id="wrap">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="assets/img/user.png" alt="Stanley">
        <h1>Hi, Simple Blog!</h1>
        <p>Hello everybody. I'm a Simple Blog, a free source coded by <a href="https://github.com/Noah-Lc/">Noah Lc</a>. A really simple blog with ship high quality code && clean code for people with all levels of skill.</p>
      </div>
    </div>
    </div>
</div>
<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6">
      <h4>ABOUT THIS PROJECT</h4>
      <p>Simple Blog is an open-source project that demonstrates how to use of several popular web technologies.</p>
      <p>I have been using this website to document and share my progress in three areas of software development: frontend engineering, backend engineering and DevOps. Although there are a lot of guides on the technologies I use here, but there are fewer guides for how to use those technologies together.</p>
      <p>For a deep description of this project, see the documentation:</p>
      <a [routerLink]="['/docs']" class="el-button">Project Documentation</a>
    </div>

    <div class="col-lg-6">
      <h4>TECHNOLOGIES USED IN THIS PROJECT</h4>
      <div class="centered">
        <img class="im" src="assets/img/django.png" alt="django">
        <img class="im" src="assets/img/Angular.png" alt="angular">
        <img class="im" src="assets/img/django-rest-framework.png" alt="django-rest-frame">
        <img class="im" src="assets/img/docker.png" alt="docker">
        <img class="im" src="assets/img/node_js.png" alt="node_js">
        <img class="im" src="assets/img/PostgreSQL.png" alt="PostgreSQL">
        <img class="im" src="assets/img/python.png" alt="Pyhton">
        <img class="im" src="assets/img/Atom.png" alt="Atom">
      </div>
    </div>
  </div>
</div>
<div id="wrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-4">
        <img class="im" src="assets/img/open-source.png" alt="">
        <h4>OPEN SOURCE</h4>
        <p>Everything in this project is open source. there are no premium content.</p>
      </div>

      <div class="col-lg-4">
        <img class="im" src="assets/img/heart.png" alt="">
        <h4>QUALITY CODE</h4>
        <p>This project aims to have verbose explanations for the code, design decisions and best practices that are used in it's development.</p>
      </div>

      <div class="col-lg-4">
        <img class="im" src="assets/img/arroba.png" alt="">
        <h4>BEGINNER FRIENDLY</h4>
        <p>This project aims to be accessible to people with all levels of skill. </p>
      </div>
    </div>
  </div>
</div>
