@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

textarea{
  resize: none;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}

.my-pagination {
    text-align: center;
}
.my-pagination /deep/ .ngx-pagination a {
    text-decoration: none;
}
.my-pagination /deep/ .ngx-pagination a  {
    font-size: 15px;
    color: #fff!important;
    padding-left: 15px;
    padding-right: 15px;
}
.my-pagination /deep/ .ngx-pagination a {
    background: #1abc9c;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    color: #000;
    font-weight: 700;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #222;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    font-weight: 700;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.action-button {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background-color: #1abc9c;
    padding: .8rem 1.6rem;
    transition: background-color .1s ease;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #16a085;
}

.action-button:hover {
    color: #fff;
    background-color: #16a085;
}

.description {
    line-height: 1.3;
    color: #57606f;
}

.soon{
  padding: 150px 0px;
}

.el-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.el-select{
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.el-select:focus {
  background-image:
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

.el-textarea{
  height: auto;
  line-height: 25px;
  padding: 15px 15px;
}

.el-card {
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 25px;
}

.el-card-body {
    padding: 20px;
}

.el-image-preview{
  height: 145px
}

.el-card-body img{
  height: 50px;
}

.el-card button{
  width: 180px;
}

/*-------------------------------*/
.pad-all {
    padding: 15px;
}
.mar-btm {
    margin-bottom: 15px;
}
.media-left {
    padding-right: 10px;
}
.media-body {
    vertical-align: top;
}
.mar-no {
    margin: 0 !important;
}
.text-lg {
    font-size: 1.2em;
    font-weight: 600;
}
.media-body p {
    margin: 0 0 10px;
}

.img-md {
    width: 64px;
    height: 64px;
}

.bq-sm{
  margin: 0 0 3px;
}

.el-checkbox {
    color: #606266;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.el-checkbox-input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}

.el-checkbox-inner {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}

.el-checkbox-original:checked + .el-checkbox-input > .el-checkbox-inner {
    background-color: #1abc9c;
    border-color: #16A488;
}

.is-checked .el-checkbox-inner {
    background-color: #1abc9c;
    border-color: #16A488;
}

.el-table-row .el-checkbox-inner:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s,-webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.el-checkbox-inner:hover {
    border-color: #16A488
}

.el-table-row .el-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1);
}

.el-header-table .el-checkbox-inner:before {
    content: "";
    position: absolute;
    display: block;
    background-color: #fff;
    height: 2px;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    left: 0;
    right: 0;
    top: 5px;
}

.el-checkbox-original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-button-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.el-button-primary:focus,
.el-button-primary:hover {
    color: #fff;
    background-color: #29CCAB;
    border-color: #29CCAB;
}

.el-button-danger {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}

.el-button-danger:focus,
.el-button-danger:hover {
    background: #f78989;
    border-color: #f78989;
    color: #fff
}

.el-button-success {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db
}

.el-button-success:focus,
.el-button-success:hover {
    background: #5faee3;
    border-color: #5faee3;
    color: #fff
}

.el-button+.el-button {
    margin-left: 10px;
}

[hidden] {
  display: none !important;
}
