<div class="container">
  <h1>Dashboard</h1>

  <div class="">
    <button type="button" class="el-button el-button-primary" (click)="openNewModel()">
      New post
    </button>
  </div>

  <div class="el-table">
  <div class="el-table__body-wrapper is-scrolling-none">
    <table class="el-table__body">
      <colgroup>
          <col name="el-table_1_column_1" width="48">
          <col name="el-table_1_column_2" width="100">
          <col name="el-table_1_column_3" width="250">
          <col name="el-table_1_column_4" width="300">
          <col name="el-table_1_column_5" width="250">
          <col name="el-table_1_column_6" width="250">
          <col name="el-table_1_column_6" width="250">
      </colgroup>
      <thead class="has-gutter">
          <tr class="el-header-table">
              <th class="el-table_1_column_1 is-leaf">
                  <div class="cell">
                    <label role="checkbox" class="el-checkbox">
                      <input type="checkbox" aria-hidden="true" class="el-checkbox-original"/>
                      <span aria-checked="mixed" class="el-checkbox-input">
                        <span class="el-checkbox-inner">
                        </span>
                      </span>
                    </label>
                  </div>
              </th>
              <th class="el-table_1_column_2 is-leaf">
                  <div class="cell">
                    ID
                    <span class="caret-wrapper"><i class="sort-caret ascending"></i><i class="sort-caret descending"></i></span>
                  </div>
              </th>
              <th class="el-table_1_column_3 is-leaf">
                  <div class="cell">Title</div>
              </th>
              <th class="el-table_1_column_4 is-leaf">
                  <div class="cell">Created On</div>
              </th>
              <th class="el-table_1_column_5 is-leaf">
                  <div class="cell">Slug</div>
              </th>
              <th class="el-table_1_column_6 is-leaf">
                  <div class="cell">Category</div>
              </th>
              <th class="el-table_1_column_7 is-leaf">
                  <div class="cell">Actions</div>
              </th>
          </tr>
      </thead>
      <tbody *ngFor="let post of posts ; let i = index">
        <tr class="el-table-row" *ngIf="i % 2 == 0; else trstriped">
          <td class="el-table_1_column_1 is-leaf">
            <div class="cell">
              <label role="checkbox" class="el-checkbox">
                <input type="checkbox" aria-hidden="true" class="el-checkbox-original"/>
                <span aria-checked="mixed" class="el-checkbox-input">
                  <span class="el-checkbox-inner">
                  </span>
                </span>
              </label>
            </div>
          </td>
          <td class="el-table_1_column_2 is-hidden">
              <div class="cell">
                  <button type="button" class="el-button el-button--default">
                    <span>
                      {{ post.id }}
                    </span>
                  </button>
              </div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_1_column_3">
              <div class="cell">{{ post.title }}</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_1_column_4">
              <div class="cell">
                  {{ post.created_at | date:'dd-MM-yyyy hh:mm:ss' }}
              </div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_1_column_5">
              <div class="cell">
                  {{ post.slug }}
              </div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_1_column_6">
              <div class="cell">
                  {{ post.category }}
              </div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_1_column_7">
              <div class="cell">
                  <div class="actions">
                      <button type="button" class="el-button el-button-primary" (click)="openEditModel(post.slug)">
                        <span class="typcn icon-default typcn-edit"></span>
                      </button>
                      <button type="button" class="el-button el-button-danger">
                        <span class="typcn icon-default typcn-trash"></span>
                      </button>
                  </div>
              </div>
          </td>
        </tr>
        <ng-template #trstriped>
          <tr class="el-table-row el-table-row-striped">
            <td class="el-table_1_column_1 is-leaf">
              <div class="cell">
                <label role="checkbox" class="el-checkbox">
                  <input type="checkbox" aria-hidden="true" class="el-checkbox-original"/>
                  <span aria-checked="mixed" class="el-checkbox-input">
                    <span class="el-checkbox-inner">
                    </span>
                  </span>
                </label>
              </div>
            </td>
            <td class="el-table_1_column_2 is-hidden">
                <div class="cell">
                    <button type="button" class="el-button el-button--default">
                      <span>
                        {{ post.id }}
                      </span>
                    </button>
                </div>
            </td>
            <td rowspan="1" colspan="1" class="el-table_1_column_3">
                <div class="cell">{{ post.title }}</div>
            </td>
            <td rowspan="1" colspan="1" class="el-table_1_column_4">
                <div class="cell">
                    {{ post.created_at | date:'dd-MM-yyyy hh:mm:ss' }}
                </div>
            </td>
            <td rowspan="1" colspan="1" class="el-table_1_column_5">
                <div class="cell">
                    {{ post.slug }}
                </div>
            </td>
            <td rowspan="1" colspan="1" class="el-table_1_column_6">
                <div class="cell">
                    {{ post.category }}
                </div>
            </td>
            <td rowspan="1" colspan="1" class="el-table_1_column_7">
                <div class="cell">
                  <div class="actions">
                      <button type="button" class="el-button el-button-primary" (click)="openEditModel(post.slug)">
                        <span class="typcn icon-default typcn-edit"></span>
                      </button>
                      <button type="button" class="el-button el-button-danger">
                        <span class="typcn icon-default typcn-trash"></span>
                      </button>
                  </div>
                </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  </div>
  <pagination-controls class="my-pagination" (pageChange)="$event" directionLinks="false"></pagination-controls>
</div>


<jw-modal id="newPost">
    <div class="el-dialog-wrapper" >
        <div role="dialog" aria-modal="true" aria-label="New Post" class="el-dialog">
          <div class="row mt">
            <div class="col-lg-6 col-lg-offset-3 centered">
              <h3>NEW POST</h3>
            </div>
            <button type="button" aria-label="Close" class="el-dialog-headerbtn" (click)="closeModal('newPost')">close</button>
          </div>
          <div class="row mt">
            <div class="col-lg-10 col-lg-offset-1">
              <form class="login-form" #postForm="ngForm">
                <div class="form-group">
                  <input class="el-input" type="text" name="title" placeholder="Title" ngModel reauired/>
                </div>
                <div class="form-group">
                  <select class="el-input el-select" name="category" ngModel reauired>
                    <option disabled value>Category</option>
                    <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <button type="button" class="el-button" id="avatar" (click)="imageInput.click()">Chose Image</button>	&nbsp;&nbsp;
                  <ng-container *ngIf="selectedFile; then fileChosen; else fileNoChosen"></ng-container>
                    <ng-template #fileChosen>{{ selectedFile.name }}</ng-template>
                    <ng-template #fileNoChosen>No Image chosen</ng-template>
                  <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" [hidden]="true" name="image"/>
                </div>
                <div class="form-group" *ngIf="selectedFile">
                  <img class="el-image-preview" *ngFor="let item of base64textString"  src={{item}} [alt]="selectedFile.name">
                </div>
                <div class="form-group">
                  <textarea rows=8 class="el-input el-textarea" name="content" placeholder="Content" ngModel required></textarea>
                </div>
                <div class="form-group">
                  <input class="el-input" type="text" name="tags" placeholder="Tags" ngModel/>
                </div>
    
                <button type="button" (click)="onAddPost(postForm)" class="action-button">CREATE</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </jw-modal>

<jw-modal id="editPost">
  <div class="el-dialog-wrapper">
    <div role="dialog" aria-modal="true" aria-label="New Post" class="el-dialog">
      <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
          <h3>EDIT POST</h3>
        </div>
        <button type="button" aria-label="Close" class="el-dialog-headerbtn" (click)="closeModal('editPost')">
          <span class="typcn icon-default typcn-delete"></span>
        </button>
      </div>
      <div class="row mt">
        <div class="col-lg-10 col-lg-offset-1">
          <form class="login-form" #updatePostForm="ngForm" *ngIf="post != undefined">
            <input type="hidden" name="slug" [(ngModel)]="post.slug" ngModel reauired />
            <div class="form-group">
              <input class="el-input" type="text" name="title" [(ngModel)]="post.title" placeholder="Title" ngModel
                reauired />
            </div>
            <div class="form-group">
              <select class="el-input el-select" name="category" [(ngModel)]="post.category.name" ngModel reauired>
                  <option disabled value>Category</option>
                  <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <button type="button" class="el-button" id="avatar" (click)="imageInput.click()">Chose Image</button>
              &nbsp;&nbsp;
              <ng-container *ngIf="selectedFile; then fileChosen; else fileNoChosen"></ng-container>
              <ng-template #fileChosen>{{ selectedFile.name }}</ng-template>
              <ng-template #fileNoChosen>No Image chosen</ng-template>
              <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" [hidden]="true" name="image" />
            </div>
            <div class="form-group" *ngIf="selectedFile">
              <img class="el-image-preview" *ngFor="let item of base64textString"  src={{item}} [alt]="selectedFile.name">
            </div>
            <div class="form-group" *ngIf="post.image && !selectedFile">
              <img class="el-image-preview" [src]="post.image" [alt]="post.title">
            </div>
            <div class="form-group">
              <textarea rows=8 class="el-input el-textarea" name="content" [(ngModel)]="post.content"
                placeholder="Content" ngModel required></textarea>
            </div>
            <div class="form-group">
              <div [formGroup]="form">
                <div class="el-input-tag " (click)="focusTagInput()">
                  <span class="tag-item" *ngFor="let tag of post.tags">
                    {{ tag.name }}
                    <span type="button" class="remove-tag" (click)="removeTag(tag.id)">×</span>
                  </span>
                  <input placeholder="Tags" #tagInput type="text" (keyup)="onKeyUp($event)" formControlName="tag">
                </div>
              </div>
            </div>
            <button type="button" class="action-button" (click)="onUpdatePost(updatePostForm)">UPDATE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</jw-modal>