<div class="container pt">
  <h1>User Profile</h1>
  <div class="pad-all">
    <h3>Basic Information</h3>
    <div class="media mar-btm">
      <div class="media-left">
        <img src="assets/avatars/avatar01.png" class="img-md img-circle" alt="Avatar">
      </div>
      <div class="media-body">
        <p class="text-lg text-main text-semibold mar-no">Ralph West</p>
        <p>Project manager</p>
      </div>
    </div>
    <div class="bq-sm"><b>ID :</b> 5582</div>
    <div class="bq-sm"><b>Email :</b> Manager@gmail.com</div>
    <div class="bq-sm"><b>Role :</b> Project manager</div>
    <br>
    <h3 class="">About Roles</h3>
    <ul class="">
      <li class=""><b class="">Super Users</b> have full permissions</li>
      <li class=""><b class="">Staff Users</b> can access the admin interfaces and can be granted specific per model permissions</li>
      <li class=""><b class="">Active Users</b> active users can authenticate, but do not have access to the Django Admin interface</li>
    </ul>
  </div>
</div>
