#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer p {
    color: white;
}

#footer .space {
    padding: 5px 0;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}