<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="footer-heading">Site pages</h5>
        <p>
          Some Address 987,<br />
          +34 9054 5455, <br />
          Rabat, Morocco.
        </p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="footer-heading">Product</h5>
        <ul class="list-unstyled">
          <li> <a href="https://github.com/noah-lc">Github</a> </li>
          <li> <a href="https://noah-lc.github.io/">Resume</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5 class="footer-heading">Resources</h5>
        <p>This is an open-source project that demonstrates usage of three areas of software development: frontend
          engineering, backend engineering and DevOps.</p>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="copyrights-text mb-3 mb-lg-0">&copy; All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>