<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>My Bunker</h4>
        <p>
          Some Address 987,<br/>
          +34 9054 5455, <br/>
          Rabat, Morocco.
        </p>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
        <h4>My Links</h4>
        <p>
          <a href="https://github.com/noah-lc">Github</a><br/>
          <a href="https://noah-lc.github.io/">Resume</a><br/>
          <a href="#">Twitter</a>
        </p>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
        <h4>About Simple Blog</h4>
        <p>This is an open-source project that demonstrates usage of three areas of software development: frontend engineering, backend engineering and DevOps.</p>
      </div><!-- /col-lg-4 -->

    </div>

  </div>
</div>
