<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <section id="text-5" class="widget widget_text"><h3 class="widget-title">Widget Title</h3>			<div class="textwidget"><p>Quickly integrate professional “outside the box” thinking with installed base users. Enthusiastically restore value-added</p>
</div>
  </section>				</div><!--  .col-md-4 -->
      <div class="col-md-4">
        <section id="nav_menu-2" class="widget  widget_nav_menu"><h3 class="widget-title">Menu</h3><div class="menu-menu-1-container"><ul id="menu-menu-2" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68"><a href="https://bootstrapwp.com/demo/stanleywp/projects/">Work</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="https://bootstrapwp.com/demo/stanleywp/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="https://bootstrapwp.com/demo/stanleywp/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="https://bootstrapwp.com/demo/stanleywp/contact/">Contact</a></li>
</ul></div></section>				</div><!--  .col-md-4 -->
      <div class="col-md-4">
        <section id="text-6" class="widget widget_text"><h3 class="widget-title">About</h3>			<div class="textwidget"><p>Compellingly promote ubiquitous systems and best-of-breed materials.</p>
</div>
  </section>				</div><!--  .col-md-4 -->
    </div><!--  .row -->

    <!--<div class="site-info">
      &copy; 			</div> -->
  </div><!--  .container -->
</footer><!-- #colophon -->
