<footer id="colophon" class="site-footer" role="contentinfo">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <section id="text-5" class="widget widget_text">
               <h3 class="widget-title">Title</h3>
            </section>
         </div>
         <!--  .col-md-4 -->
         <div class="col-md-4">
            <section id="nav_menu-2" class="widget  widget_nav_menu">
               <h3 class="widget-title">Menu</h3>
            </section>
         </div>
         <!--  .col-md-4 -->
         <div class="col-md-4">
            <section id="text-6" class="widget widget_text">
               <h3 class="widget-title">About</h3>
            </section>
         </div>
         <!--  .col-md-4 -->
      </div>
      <!--  .row -->
      <!--<div class="site-info">
         &copy; 			</div> -->
   </div>
   <!--  .container -->
</footer>
<!-- #colophon -->
